<div class="margin-top-middle">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <ul class="nav nav-pills nav-footer-menu">
                <li ><a class="nav-footer" href="../project1/#/">Home</a></li>
                <li><a class="nav-footer" href="../project1/#/mystory">My story</a></li>
                <li><a class="nav-footer" href="../project1/#/faqpage">F.A.Q</a></li>
                <li><a class="nav-footer" href="../project1/#/myworks">My Works</a></li>
                <li><a class="nav-footer" href="../project1/#/Affiliate">Affiliate</a></li>
                <li><a class="nav-footer" href="../project1/#/donate">Donate</a></li>
                <li><a class="nav-footer" href="../project1/#/contactus">Contact Us</a></li>
            </ul>
            <div class="clearfix"></div>
            <p class="text-left">&copy; Art. Gallery.</p>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-12">
            <p class="spetial-notif" style="margin-bottom:0px;">All around the <span style='color:#900;'> Art Gallery</span> or other info please contact</p>
            <p class="spetial-notif" style="margin-bottom:0px;"><a href="mailto:gregpiev@gmail.co.il" target="_blank">gregpiev@gmail.co.il</a></p>
            <ul style="margin-left:20px;">
                <li>We'll contact you as soon as possible.</li>
                <li>for more info <a href="../project1/#/contactus"> Contact Us</a>.</li>
            </ul>
        </div>
    </div>
</div>