<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <a class="nav-footer" href="../project1/#">
            <img src="../project1/images/logo.png" class="logo img-responsive" alt="" title="">
        </a>
        <div class="site-name">Art Gallery</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="../project1/#/contactus" class="btn btn-info button-contact"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Contact Us</a>
        <a href="" class="btn btn-info button-sign" data-toggle="modal" data-target="#signModal"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Sign In</a>
    </div>
</div>

<div class="clearfix"></div>
